<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <webSocket enabled="false" />
      <rewrite>
         <rules>
            <rule name="RedirectToHttps">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTPS}" pattern="Off" />
                  <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
               </conditions>
               <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
            </rule>
            <rule name="Rewrite">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="{R:1}.php" />
            </rule>
         </rules>
      </rewrite>
      <httpErrors errorMode="Custom">
         <remove statusCode="400" subStatusCode="-1" />
         <remove statusCode="404" subStatusCode="-1" />
         <remove statusCode="500" subStatusCode="-1" />
         <remove statusCode="504" subStatusCode="-1" />
         <error statusCode="400" path="/page-404.php" prefixLanguageFilePath="" responseMode="ExecuteURL" />
         <error statusCode="404" path="/page-404.php" prefixLanguageFilePath="" responseMode="ExecuteURL" />
         <error statusCode="500" path="/page-500.php" prefixLanguageFilePath="" responseMode="ExecuteURL" />
         <error statusCode="504" path="/page-500.php" prefixLanguageFilePath="" responseMode="ExecuteURL" />
      </httpErrors>
      <staticContent>
         <remove fileExtension=".woff" />
         <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      </staticContent>
   </system.webServer>
</configuration>